<launch>

  <!-- start state estimation -->
  <include file="$(find rowesys_state_estimation)/launch/rowesys_state_estimator.launch" />

  <!-- start state machine -->
  <node pkg="rowesys_state_machine" name="rowesys_states" type="rowesys_states.py"/>

  <!-- start mpc planner -->
  <node pkg="rowesys_mpc_planner" name="rowesys_mpc_planner" type="rowesys_simple_mpc.py"/>

  <!-- start turn -->
  <include file="$(find rowesys_turn)/launch/turn.launch" /> 

  <!-- start line detection (including camera launch) -->
  <include file="$(find rowesys_front_image_processing)/launch/test_kalman.launch" />

  <!-- start end_of_row detection -->
  <!--include file="$(find rowesys_front_image_processing)/launch/end_of_row_detection.launch" /-->
  
  
</launch>