<launch>

  <!-- start state estimation -->
  <include file="$(find rowesys_state_estimation)/launch/rowesys_state_estimator.launch" />

  <!-- start state machine -->
  <node pkg="rowesys_state_machine" name="rowesys_states" type="geese_feet_state_machine.py"/>

  <!-- start normal planner -->
  <include file="$(find rowesys_planner)/launch/gf_planner.launch" /> 

  <!-- start turn -->
  <include file="$(find rowesys_turn)/launch/turn.launch" /> 

  <!-- start line detection (including camera launch) -->
  <include file="$(find rowesys_front_image_processing)/launch/test_kalman.launch" />

  <!-- start end_of_row detection -->
  <include file="$(find rowesys_front_image_processing)/launch/end_of_row_detection.launch" />
  
  
</launch>